astropy==5.3.3
numpy==1.22.0
matplotlib==2.0.2
pandas==0.23.0
dataclasses==0.6
git+https://github.com/MariaTsantaki/spectroscopy-ML
scikit-learn==0.19.2
scipy==1.10.0
tables==3.4.4
spectrum-overload==0.2.2
isochrones==1.2.1
numba==0.39.0
